
:root {
    --primary-color:#c5945c;
    --secondary-color:rgba(229,148,0,0.9);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed:0.75s;
}
*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1925;
    font-family: 'Poppins', sans-serif;
}
.body-container{
    box-sizing:border-box
}
.header-holder{
    width:7%;
    position: fixed;
    height:100vh;
    background-color: #13111b;
    z-index:1;
   
}
@media (max-width: 768px){
.header-holder {
    height:55px;
    width:100%;
    position: fixed;
    top:0;
}
}
.page-content{
    color:white;
    background-color: #1A1925;
    width:93%;
    float: right;
}
@media (max-width: 768px){
    .page-content{
       width:100%
    }
}

/*--------------------------Hamburger------------------------------*/
.menu-wrap{
    position:fixed;
   
}
/*#showcase{
    background: var(--primary-color);
    color:#fff;
    height:100vh;
    position: relative;
}*/


.btn{
    display:inline-block;
    border:none;
    background:var(--primary-color);
    color:#fff;
    padding:0.75rem 2rem;
    margin-top: 1rem;
    transition: all 1s ease-in-out;
    text-decoration:none;
}

.btn:hover{
    opacity:0.7;
    
}

.menu-wrap{
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    margin-left:1%;
}

.menu-wrap .toggler{
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    cursor:pointer;
    width:55px;
    height:55px;
    opacity:0;
    z-index:100;
}

.menu-wrap .hamburger{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:60px;
    height:60px;
    padding:1rem;
    
    display:flex;
    align-items:center;
    justify-content:center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div{
    position:relative;
    flex:none;
    width:100%;
    height:3px;
    background: #fff;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & bottom */

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position:absolute;
    z-index:2;
    top:-10px;
    width:100%;
    height:3px;
    background: inherit;
    z-index:100;
}
.menu-wrap .hamburger > div::after {
    top:10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }

  @media (max-width: 768px) {  
    .menu-wrap .menu {
      
        width: 50%;
        
    }
}
@media (max-width: 576px) {  
    .menu-wrap .menu {
        width: 100%;
        
    }
}
  .menu-wrap .menu > div {
    background: #c5945c;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: all 10s linear;
    
  }
  
  .menu-wrap .menu > div > div > ul > li > a:hover {
    height:10px;
    background: linear-gradient(180deg, #c5945c 50%, #d8af81 50%);
    
   
  }
  

/*------------------------------Header-------------------------*/
.first-page{
    height:100vh;
    padding:30px 30px;
   
   
}

#introphoto{
  MARGIN:auto;
}
#introRow{
  
  padding:10px;
  height:100vh;
}
#introcol2{
  padding-right:5px;
  padding-top:9rem;
}
#introcol2 a{
  margin:auto;
}
#introcol2 a p{
  text-align: center;
}
#introDiv2{
  position: absolute;
  padding-top:7px;
}
.line-1{
  color:#c5945c;
  /*font-size: 180%;*/
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  /*transform: translateY(-50%);*/    
}

#introcol2 .a #line2{
  transform: translateY(-70%) !important;
  font-size: 120px !important;
  

}
@media (max-width: 768px){
  #introlcol1{
    display:none;
  }
}
#line2{
  font-style: italic;
}
#introcol2 .a .p{
  
  padding:20px;
  margin:20px !important;
}
p#line2{
  font-size: 120px !important;
}
#m{
  color:#c5945c;
}
@media (max-width: 576px){
  .line-1{
    font-size:50px;
    padding-bottom: 30px;;
  }
}
/* Animation */
@media (min-width: 576px){
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.73em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
}
/*--.my-image{
    display: flex;
    flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  padding-top:50px;
}
.my-info{
  margin:auto;
}
.my-image img{
    height:250px;
    width: 250px;
    border-radius: 50%;
    border:3px solid #c5945c;
    transition: border 0.3s ease-in;
}
.my-image img:hover{
  
  border:7px solid #c5945c;
  
}


.name-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-content h1{
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    color: #c5945c;
}
.info-row{
  display:flex;
  flex-direction: row;
}
.info-col1{
  flex:1;
  font-size: 30px;
  font-weight: bold;
}
.info-col2{
  flex:1;
  
}--*/
/*---------------About Me---------------*/

.about{
    padding:30px 30px;
}
.about1{
    padding:10px 10px;
}

.about-header h1{
    color:var(--primary-color);
    margin:0px 0px 20px;
}

.about-content {
    padding:0px;
}
.about-content .about-span{
  color:#c5945c;
  padding-top:15px;
}
/*---------------------Timeline---------------------------*/
#timeline{
    padding:30px 30px;
    
    z-index:-10;
}

#timeline ul {
    background: #1a1925;
    padding: 30px 0px;
    z-index:-10;
  }
#timeline .timeline-header h1{
    color:#c5945c;
    margin:0px 0px 20px;
    padding:10px 10px;
}
#timeline h5{
  color:#c5945c;
}
  /* Create Line */
  #timeline ul li {
    list-style: none;
    position: relative;
    width: 3px;
    margin: 0 60px;
    padding-bottom: 50px;
    background: #c5945c;
    z-index:0;
  }
  
  /* Boxes */
  #timeline ul li div {
    position: relative;
    top: 0;
    padding:0px;
    width: 700px;
    
    background: #1a1925;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  #timeline ul li div p{
      color:#fff;
  }
  /* Right Side */
  #timeline ul li div {
    top:0px;
    left: 40px;
    transform: translate(200px, 0);
  }
  
  /* Left Side */
  #timeline ul li h3 {
      color:#c5945c;
    right: 500px;
    transform: translate(0px, 0px);
  } 
  
  /* Dots */
  #timeline ul li:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 30px;
    height: 30px;
    background: #1a1925;
    transform: translateX(-50%);
    border-radius: 50%;
    border:3px solid #c5945c;
    transition: background 0.5s ease-in-out;
  }
  
  
  /* Show Boxes */
  #timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  #timeline ul li.show:after {
    background: #c5945c;
  }
  
  
  @media(max-width: 900px) {
    #timeline ul li div {
      width: 250px;
    }
  
    
  }
  
  @media(max-width: 600px) {
    #timeline ul li {
      margin-left: 20px;
    }
  
    #timeline ul li div {
      width: calc(100vw - 90px);
    }
  
    #timeline ul li:nth-child(even) div {
      left: 40px;
    }
  
    #timeline ul li:nth-child(even) div:before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent var(--secondary-color) transparent transparent;
    }
  }
  
/*-------------------------Certificates----------*/
.certificates-header h1{
    color:#c5945c;
    margin:0px 0px 20px;
    padding:10px 10px;
}
.r{
    display:flex;
    z-index:-10;
}

.c1, .c2{
    margin:auto;
    border:2px solid #c5945c;
    padding:20px;
    
}
.cardRow img{
    padding-right: 0px;
    margin:auto;
}
.cardRow .column-details{
    border-left:2px solid #c5945c;
}

@media (max-width: 768px){
    .c1, .c2{
        margin-bottom: 30px;
    }
    .cardRow .column-details{
        border-left: none;
        border-top:2px solid #c5945c;
        padding-top:5px;
    }
    .cardRow .column{
        padding-bottom:5px;
    }
}


/*-------------------skills--------------------------*/
.skills{
    padding:10% 4% 0%;
}
.skills1{
    padding:10px;
}
.skills-header h1{
    color:#c5945c;
    margin:0px 0px 20px;
    padding:10px 0px;
}
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom:50px;
  }
  
  .single-chart {
    width: 25%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 200px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #1a1925;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 8s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.golden .circle {
    stroke: #c5945c;
  }
  
  .svg-text{
      color:#c5945c;
      padding:10px;
  }
  @media (max-width: 768px){
    .svg-text h4{
        font-size: 0.8em;
        
    }
  }
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
  /*-----------------progress bar------------------*/
  .progress-text h4{
    display:block;
    padding:10px;
    color:#c5945c;
}
@media (max-width: 768px){
  .progress-text h4{
      font-size: 0.8em;
      
  }
}

  .progress2 {
    padding: 6px;
    border-radius: 30px; 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  
  .progress-bar2,.progress-bar3,.progress-bar4,.progress-bar5{
    height: 18px;
    border-radius: 30px;
    background-image: 
      linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;  
    transition-property: width, background-color;    
  }
  
  .progress-moved .progress-bar2 {
    width: 60%; 
    background-color: #c5945c;  
    animation: progressAnimation 6s;
  }
  
  @keyframes progressAnimation {
    0%   { width: 5%; background-color: #f1ddc5;}
    100% { width: 60%; background-color: #c5945c; }
  }
 /*-------3-----------*/
  .progress-moved .progress-bar3 {
    width: 70%; 
    background-color: #c5945c;  
    animation: progressAnimation3 6s;
  }
  
  @keyframes progressAnimation3 {
    0%   { width: 5%; background-color: #f1ddc5;}
    100% { width: 70%; background-color: #c5945c; }
  }
/*-------4-----------*/
  .progress-moved .progress-bar4 {
    width: 40%; 
    background-color: #c5945c;  
    animation: progressAnimation4 6s;
  }
  
  @keyframes progressAnimation4 {
    0%   { width: 5%; background-color: #f1ddc5;}
    100% { width: 40%; background-color: #c5945c; }
  }
/*-------5-----------*/
  .progress-moved .progress-bar5 {
    width: 50%; 
    background-color: #c5945c;  
    animation: progressAnimation5 6s;
  }
  
  @keyframes progressAnimation5 {
    0%   { width: 5%; background-color: #f1ddc5;}
    100% { width: 56%; background-color: #c5945c; }
  }

  /*-----------------------------Contact Me-------------------------------*/
  .contact-header h1{
    color:#c5945c;
    margin:0px 0px 20px;
    padding:50px 0px;
}
.contact1{
    padding:65px 65px 45px;
    background-color: #c5945c;
}
.form-group{
    margin-bottom: 50px;
}

.form-control {
    border: none;
    border-bottom:2px solid #fff;
    background-color: transparent !important;
    background-image: none !important;
	
    border-radius: 0 !important;
    box-shadow: 0 !important;
   
    box-shadow: none !important;
}
.input .placeholder{
    color:#fff;
}

.btn{
    border:2px solid #fff;

}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: #fff !important; 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:  #fff !important;; 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color:  #fff !important;; 
}